.certification-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: -350px;

    svg {
        color: white;
    }
}
  
.certification-container .certification-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
  
.certification-container .certification-grid .certification {
    align-items: center;
    text-align: left;
}

@media screen {
    @media (max-width: 768px) {
        .certification-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
    
        .certification-container .certification-grid {
            display: initial;
        }
        
        .certification-container .certification-grid .certification {
            padding-bottom: 5%;
        }
    }

    @media (max-width: 567px) {
        .certification {
            font-size: 12px;
        }
    }
}